body {
  position: relative;
  min-height: 100%;
  background-attachment: fixed;
  background-color: black;
  block-size: cover;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}

.profile-head .avatar img {
  border-radius: 50%;
}

.l-page {
  background-color: black;
  color: white;
}
.l-top_menu-v2 {
  background-color: #000;
  color: #fff;
}

.l-top_menu-v2 .submenu {
  background-color: #000;
  border-color: #fff;
  color: #fff;
  border-radius: 25px;
}

.p-profiles .profile-head {
  background-image: url(https://camo-v3.shikimori.me/c9469db6f261a67503cd735e1bcefe5275588528?url=https%3A%2F%2Fi.ibb.co%2F3fvqmmg%2Fdes-zhu-33-223-1.jpg);
}
