body {
  position: relative;
  min-height: 100%;
  background-attachment: fixed;
  background-color: #2d2c2c;
  block-size: cover;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}


.profile-head .avatar img {
  border-radius: 50%;
}

.l-page {
  background-color: black;
  color: white;
}
